<slack-get>
	<common>
		<conf-version><![CDATA[3]]></conf-version>
		<default-browser><![CDATA[konqueror]]></default-browser>
		<fast-connection-limit><![CDATA[1]]></fast-connection-limit>
		<file-encoding><![CDATA[iso-8859-1]]></file-encoding>
		<install-directory><![CDATA[/home/1024/progz/slack-get/V1.0/slack-get/]]></install-directory>
		<kde>
			<enable-kde-notification><![CDATA[yes]]></enable-kde-notification>
			<use-kde-dialog><![CDATA[yes]]></use-kde-dialog>
		</kde>
		<log>
			<log-file><![CDATA[/home/1024/progz/slack-get/V1.0/slack-get/test/slack-get.log]]></log-file>
			<log-format><![CDATA[[ %d/%m/%y AT %h H %n min %s sec ] <%P %V> %M]]></log-format>
			<log-level><![CDATA[2]]></log-level>
		</log>
		<master-daemon><![CDATA[192.168.0.10:42000]]></master-daemon>
		<network-parameters>
			<ftp>
				<login><![CDATA[anonymous]]></login>
				<password><![CDATA[slack-get@infinityperl.org]]></password>
			</ftp>
		</network-parameters>
		<packages-history-dir><![CDATA[/var/log/packages]]></packages-history-dir>
		<pkgtools>
			<installpkg-binary><![CDATA[/sbin/installpkg]]></installpkg-binary>
			<removepkg-binary><![CDATA[/sbin/removepkg]]></removepkg-binary>
			<upgradepkg-binary><![CDATA[/sbin/upgradepkg]]></upgradepkg-binary>
		</pkgtools>
		<server-list-file><![CDATA[/home/1024/progz/slack-get/V1.0/slack-get/conf/servers.xml]]></server-list-file>
		<slackware-version><![CDATA[current]]></slackware-version>
		<update-directory><![CDATA[/home/1024/progz/slack-get/V1.0/slack-get/test/update]]></update-directory>
		<verify-checksum><![CDATA[yes]]></verify-checksum>
		<verify-gpg-signature><![CDATA[yes]]></verify-gpg-signature>
	</common>
	<daemon>
		<connection-policy>
			<all>
				<can-build-installed-list><![CDATA[no]]></can-build-installed-list>
				<can-build-packages-list><![CDATA[no]]></can-build-packages-list>
				<can-connect><![CDATA[no]]></can-connect>
				<can-install-packages><![CDATA[no]]></can-install-packages>
				<can-remove-packages><![CDATA[no]]></can-remove-packages>
				<can-require-installed-list><![CDATA[no]]></can-require-installed-list>
				<can-require-packages-list><![CDATA[no]]></can-require-packages-list>
				<can-require-servers-list><![CDATA[no]]></can-require-servers-list>
				<can-search><![CDATA[no]]></can-search>
				<can-upgrade-packages><![CDATA[no]]></can-upgrade-packages>
			</all>
			<host id="127.0.0.1">
				<can-build-installed-list><![CDATA[yes]]></can-build-installed-list>
				<can-build-packages-list><![CDATA[yes]]></can-build-packages-list>
				<can-connect><![CDATA[yes]]></can-connect>
				<can-install-packages><![CDATA[yes]]></can-install-packages>
				<can-remove-packages><![CDATA[yes]]></can-remove-packages>
				<can-require-installed-list><![CDATA[yes]]></can-require-installed-list>
				<can-require-packages-list><![CDATA[yes]]></can-require-packages-list>
				<can-require-servers-list><![CDATA[yes]]></can-require-servers-list>
				<can-search><![CDATA[yes]]></can-search>
				<can-upgrade-packages><![CDATA[yes]]></can-upgrade-packages>
			</host>
			<host id="192.168.0.10">
				<can-build-installed-list><![CDATA[yes]]></can-build-installed-list>
				<can-build-packages-list><![CDATA[yes]]></can-build-packages-list>
				<can-connect><![CDATA[yes]]></can-connect>
				<can-install-packages><![CDATA[yes]]></can-install-packages>
				<can-remove-packages><![CDATA[yes]]></can-remove-packages>
				<can-require-installed-list><![CDATA[yes]]></can-require-installed-list>
				<can-require-packages-list><![CDATA[yes]]></can-require-packages-list>
				<can-require-servers-list><![CDATA[yes]]></can-require-servers-list>
				<can-search><![CDATA[yes]]></can-search>
				<can-upgrade-packages><![CDATA[yes]]></can-upgrade-packages>
			</host>
			<host id="192.168.0.20">
				<can-build-installed-list><![CDATA[no]]></can-build-installed-list>
				<can-build-packages-list><![CDATA[no]]></can-build-packages-list>
				<can-connect><![CDATA[no]]></can-connect>
				<can-install-packages><![CDATA[no]]></can-install-packages>
				<can-remove-packages><![CDATA[no]]></can-remove-packages>
				<can-require-installed-list><![CDATA[no]]></can-require-installed-list>
				<can-require-packages-list><![CDATA[yes]]></can-require-packages-list>
				<can-require-servers-list><![CDATA[yes]]></can-require-servers-list>
				<can-search><![CDATA[yes]]></can-search>
				<can-upgrade-packages><![CDATA[no]]></can-upgrade-packages>
			</host>
		</connection-policy>
		<installed-packages-list>
			<build-each><![CDATA[30]]></build-each>
			<build-on-update><![CDATA[yes]]></build-on-update>
		</installed-packages-list>
		<listenning-adress><![CDATA[192.168.0.10]]></listenning-adress>
		<listenning-port><![CDATA[42000]]></listenning-port>
		<mode><![CDATA[master]]></mode>
		<pid-file><![CDATA[/home/1024/progz/slack-get/V1.0/slack-get/test/slack-getd.pid]]></pid-file>
		<start-on-boot><![CDATA[yes]]></start-on-boot>
		<update-list>
			<build-each><![CDATA[15]]></build-each>
			<build-on-start><![CDATA[yes]]></build-on-start>
		</update-list>
	</daemon>
	<gui>
		<connect-to><![CDATA[192.168.0.10:42000]]></connect-to>
		<language><![CDATA[english]]></language>
	</gui>
	<command>
	</command>
	<plug-in>
	</plug-in>
</slack-get>
